


ul li{
   cursor: pointer;
   font-family: monospace;
   font-size: 17px;
   transition: .5s;
   
}

ul li:hover{
    color: rgb(10, 185, 4);
}
b{
    cursor: pointer;
    transition: 1s;
}

.items{
    text-align: center;
    /* margin-top: 50px; */
}

.zillur{
    color: red;
    font-family: monospace;
}

footer b{
    margin-top: 40rem;
    margin-bottom: 20px;
    color: rgb(7, 7, 7);
    font-family: monospace;
    font-size: 22px;
    cursor: pointer;
}

.style{
    font-family: monospace;
    cursor: pointer;
    /* font-weight: bold; */
}